@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
.light {
  /* --main: linear-gradient(to right, #0f3443, #34e89e); */
  /* --main: radial-gradient(
    circle 609.6px at 21.5% 78.8%,
    rgba(37, 99, 219, 1) 0%,
    rgba(233, 45, 181, 1) 89.9%
  ); */
  --main: radial-gradient(
    circle 654px at 0.6% 48%,
    rgba(12, 170, 255, 1) 0%,
    rgba(151, 255, 129, 1) 86.3%
  );
  --white: #fff;
  --bg: rgb(230, 230, 230);
  --white-bg: #fff;
  --grey: #777;
  --dark-grey: #333;
  --black: #000;
  --light-grey: rgb(235, 235, 235);
}
.dark {
  /* --main: linear-gradient(
    112.4deg,
    rgba(169, 28, 115, 1) 21.6%,
    rgba(219, 112, 54, 1) 92.2%
  ); */
  /* --main: radial-gradient(
    circle 609.6px at 21.5% 78.8%,
    rgba(37, 99, 219, 1) 0%,
    rgba(233, 45, 181, 1) 89.9%
  ); */
  --main: radial-gradient(
    circle 654px at 0.6% 48%,
    rgba(12, 170, 255, 1) 0%,
    rgba(151, 255, 129, 1) 86.3%
  );
  --white: #000;
  --bg: #162447;
  --grey: rgba(236, 236, 236, 0.692);
  --white-bg: #1f4068;
  --dark-grey: rgba(255, 255, 255, 0.75);
  --black: #fff;
  --light-grey: rgb(235, 235, 235);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: background 0.6s, color 0.6s;
}
html {
  /* scrollbar-color: #7c7c7c #303030; */
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  transition: 0.5s;
  background-color: var(--bg);
  margin-top: -30px;
}
#nav {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
  /* min-height: 100vh; */
}
.navigation {
  position: relative;
  width: 210px;
  height: 70px;
  border-radius: 40px;
  background-color: var(--white-bg);

  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 20px, rgba(0, 0, 0, 0.23) 0px 0px 6px;
  transition: all 0.4s;
}
@media (max-width: 380px) {
  .navigation {
    transform: scale(0.95);
  }
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: var(--grey);
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
}
.navigation ul li.active a .icon {
  color: var(--dark-grey);
}
.navigation ul li a .icon i {
  font-size: 20px;
}
.navigation ul li a .title {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translate(-50%, 15%);
  width: auto;
  background: var(--white-bg);
  padding: 5px 10px;
  border-radius: 7px;
  transition: 0.5s;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
.navigation ul li:hover a .title {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 50%);
}
.navigation ul li a .title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--white-bg);
  bottom: -8px;
  left: 48%;
  transform: rotate(45deg) translateX(-50%);
  border-radius: 2px;
}
.navigation ul .indicator {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  transition: all 0.5s;
}
.navigation ul .indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-grey);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

.navigation ul li.active ~ .indicator::before {
  background-color: var(--bg);
}
#home {
  min-height: 100vh;
  margin-top: 40px;
  padding-top: 0px;
  color: var(--white);
}
#home .toggler {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: auto;
  color: #fff;
  z-index: 99;
}
.container-main {
  background: #34e89e; /* fallback for old browsers */
  background: var(--main);
  width: 90%;
  padding: 20px 30px 20px 30px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* min-height: 180px; */
}

.container-main img {
  width: 70px;
}
#home i.arrow {
  position: absolute;
  margin: 5px 0 0 3px;
}
#home .name {
  cursor: pointer;
  color: var(--black);
  text-align: center;
  margin: 10px 0 20px;
  position: relative;
  top: 5px;
}

#home .temp {
  position: absolute;
  top: 8px;
  color: var(--white);
  color: white;
  right: 30px;
}
#home .temp #temp {
  font-weight: 900;
}
#home .temp small {
  font-size: 40px;
  position: absolute;
  top: 5px;
  right: -12px;
}
#home .temp .feel {
  margin-top: -15px;
  font-size: 13px;
}
#home .desc {
  max-width: 140px;
}
#home span#desc {
  font-size: 20px;
  line-height: 22px;
  word-spacing: 1px;
  margin-left: 10px;
  display: inline-block;
  text-align: left;
  color: var(--white);
  color: white;
}
#home #note {
  font-size: 14px;
  margin-left: 10px;
  color: var(--light-grey);
}
#home .temp span#temp {
  font-size: 70px;
}
.container-sub {
  background-color: var(--white-bg);
  width: 90%;
  padding: 20px 30px 23px;
  margin: 15px auto 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-between;
}

.container-sub p {
  color: var(--black);
  margin-top: 10px;
  /* text-align: center; */
  font-size: 20px;
}
.container-sub span {
  color: var(--black);
  font-size: 10px;
  margin-left: 3px;
}
.container-sub p.sub-heading {
  color: var(--grey);
  font-size: 13px;
}

section#sun {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}
.chart {
  position: relative;
  max-width: 98%;
  height: 40vh;
  margin: 10px auto 10px;
  margin-bottom: 30px;
}
canvas {
  margin: 10px 0;
}
#sun .box {
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  border: solid 2px rgb(196, 196, 196);
  border-color: rgb(190, 190, 190) transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}
#sunrise {
  position: absolute;
  top: 34px;
  left: 17px;
  cursor: pointer;
}
#sunrise-time {
  position: absolute;
  top: 64px;
  left: 8px;
  color: var(--grey);
  font-size: 13px;
  cursor: pointer;
}
#sunset {
  position: absolute;
  top: 33px;
  right: 17px;
  cursor: pointer;
}
#sunset-time {
  position: absolute;
  top: 64px;
  right: 6px;
  color: var(--grey);
  font-size: 13px;
  cursor: pointer;
}

canvas {
  max-width: 90%;
  min-height: 100px;
  margin: 0 auto;
}
.today {
  /* background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  width: 90%;
  padding: 15px 5px;
  margin: 110px auto 20px;
  border-radius: 25px;
  color: var(--black);
}

.today #today,
.forecast #fore {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 19px;
  color: var(--dark-grey);
  font-weight: 600;
}
.forecast #fore {
  margin-left: 8px;
}
.today .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.today .card {
  display: inline-block;
  background-color: var(--white-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  padding: 10px;
  cursor: grab;
  margin: 3px 2px;
  text-align: center;
  min-height: 104px;
  min-width: 68.5px;
}
.today .card img {
  height: 40px;
  vertical-align: middle;
}
.today .card p {
  font-size: 14px;
}
.today .card .time-forecast {
  color: var(--grey);
  font-size: 13px;
}
.today .scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.today .scrolling-wrapper::-webkit-scrollbar {
  display: none !important;
}
.forecast {
  max-width: 90%;
  margin: 10px auto 120px;
}
.forecast table {
  width: 100%;
  background-color: var(--white-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 30px;
  padding: 20px 20px 20px 10px;
}
.forecast table tr {
  margin: 15px 0;
}
.forecast table tr td {
  color: var(--dark-grey);
  cursor: pointer;
  text-align: center;
}
.forecast table tr td.min {
  color: var(--grey);
}
@media (min-width: 552px) {
  .container-main,
  .container-sub,
  .chart,
  .forecast,
  .today,
  #sun {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .container-main,
  .container-sub,
  .chart,
  .forecast,
  .today,
  #sun {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container-main,
  .container-sub,
  .today,
  .chart,
  .forecast,
  #sun {
    width: 30%;
  }
}
